.content {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    margin: 0px;
    padding: 0px;
    background-color: rgb(0, 17, 36);
    /* background: linear-gradient(90deg, rgba(0, 17, 36, 1) 0%, rgba(148, 191, 209, 1) 100%); */
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

canvas {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: gainsboro;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
}

.centralize {
    color: white;
    font-family: inherit;
    text-align: center;
}